<template>
  <div>
    <div class="my_range_slider">
      <div v-if="sliderData.value<0" :style="{width: `${-sliderData.value}%`}" class="my_range_slider_before"></div>
      <simple-range-slider
          class="slider"
          @change="changeData"
          :min="sliderData.min"
          :max="sliderData.max"
          :step="sliderData.step"
          v-model="sliderData.value">
      </simple-range-slider>
      <div v-if="sliderData.value>0" :style="{width: `${sliderData.value}%`}" class="my_range_slider_after"></div>
    </div>
    <div>
      <p>{{ sliderData.min }}</p>
      <p>{{ sliderData.max }}</p>
      <p>{{ sliderData.value }}</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      sliderData: {
        min: -50,
        max: 50,
        step: 1,
        value: 0
      }
    }
  },
  methods: {
    changeData(item) {
      console.log(item);
    }
  }
}
</script>

<style>
.range-slider-fill {
  background-color: transparent !important;
}
.range-slider-knob{
  z-index: 4;
}

.my_range_slider {
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my_range_slider_before {
  content: "";
  position: absolute;
  right: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 10px;
  background-color: red;
  z-index: 2;
  border-radius: 20px 0 0 20px;
}

.my_range_slider_after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 10px;
  background-color: green;
  border-radius: 0 20px 20px 0;
}

</style>